body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
nav {
    background: #333;
    color: white;
    overflow: hidden;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    background-color: #575757;
}
.container {
    padding: 20px;
    text-align: center;
}
.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

img {
    width: 80px;
    height: 80px;
}

table {
    width: 400px;
    border-collapse: collapse; /* Ensures borders between cells are merged */
}
table, th, td {
    border: 1px solid black; /* Adds a border to the table, header, and data cells */
}
th, td {
    padding: 8px; /* Adds padding inside each cell */
    text-align: left; /* Aligns text to the left */
}